<?xml version="1.0" ?>

<launch>
  <arg name="robot_name" default="thorvald_ii" />
  <arg name="robot_type" default="thorvald_ii_4wd4ws_std" />
  <arg name="model_extras" default="" />
  <arg name="simple_sim" default="True" />  

  <group namespace="$(var robot_name)" >

    <include file="$(find-pkg-share loki_bringup)/launch/loki_bringup.launch">
      <let name="robot_name" value="$(var robot_name)" />
      <let name="tf_prefix" value="$(var robot_name)" />
      <let name="robot_model" value="$(find-pkg-share loki_base)/config/robot_017.yaml" />
      <let name="model_extras" value="$(var model_extras)" />
      <let name="simple_sim" value="$(var simple_sim)" />
    </include>

  </group>


</launch>
