<?xml version="1.0" ?>
<launch>
  <arg name="robot_model" />
  <arg name="model_extras" default=""/>
  <arg name="simple_sim" />
  <arg name="datum_file" default=""/>

  <arg name="ekf_publish_tf" default="false" />
  <arg name="robot_name" default="" />
  <arg name="tf_prefix" default="" />
  <arg name="with_teleoperation" default="false" />
  <arg name="teleop_controller_type" default="xbox" />
  <arg name="teleop_controller" default="$(find-pkg-share loki_teleop)/config/$(var teleop_controller_type).yaml" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joy_autorepeat_rate" default="20.0" />
  <arg name="joy_deadzone" default="0.2" />

  <arg name="can_interface_type" default="socketcan" />
  <arg name="can_interface_name" default="can0" />

  <!-- Robot starting pose arguments for simulation  -->
  <arg name="start_pose_x" default="0" if="$(var simple_sim)"/>
  <arg name="start_pose_y" default="0" if="$(var simple_sim)"/>
  <arg name="start_pose_z" default="0" if="$(var simple_sim)"/>
  <arg name="start_pose_R" default="0" if="$(var simple_sim)"/>
  <arg name="start_pose_P" default="0" if="$(var simple_sim)"/>
  <arg name="start_pose_Y" default="0" if="$(var simple_sim)"/>

  <arg name="world_name" default="riseholme"/>
  <arg name="world" default="$(find-pkg-share rasberry_gazebo)/worlds/$(var world_name).world" if="$(var simple_sim)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="with_actors" default="false" />
  <arg name="with_gui" default="true" if="$(var simple_sim)" />
  <arg name="include_plants" default="false"/>
  <arg name="include_calibration_pod" default="false"/>

  <group>
    <push-ros-namespace namespace="$(var tf_prefix)"/>
    <!-- model bringup -->
    <include file="$(find-pkg-share loki_description)/launch/model.launch.py"/>


    <!-- base bringup-->
    <include file="$(find-pkg-share loki_base)/launch/base_bringup.launch.py"/>


    <include file="$(find-pkg-share loki_can_devices)/launch/pytocpp.launch.py"/>

    <!-- teleop bringup -->
    <include file="$(find-pkg-share loki_teleop)/launch/teleop.launch" if="$(var with_teleoperation)"/>


    <!-- twist mux bringup -->
    <include file="$(find-pkg-share loki_twist_mux)/launch/twist_mux.launch"/>

    <!-- Launch the Gazebo world.  -->
    <include file="$(find-pkg-share rasberry_gazebo)/launch/gazebo.launch.py" if="$(var simple_sim)"  />

  </group>

</launch>
