<?xml version="1.0"?>

<launch>
  <arg name="robot_model" default=""/>
  <arg name="simple_sim" default="false"/>
  <arg name="enable_odom_tf" default="true"/>
  <arg name="odom_frame_id" default="odom"/>
  <arg name="can_interface_type" default=""/>
  <arg name="can_interface_name" default=""/>
  <arg name="joint_states_remap_to" default="base_driver/joint_states"/>

  <node pkg="loki_base" exec="base_driver" name="base_driver" output="screen">
    <param name="robot_model" value="$(var robot_model)"/>
    <param name="simple_sim" value="$(var simple_sim)"/>
    <param name="enable_odom_tf" value="$(var enable_odom_tf)"/>
    <param name="odom_frame_id" value="$(var odom_frame_id)"/>
    <param name="can_interface_type" value="$(var can_interface_type)"/>
    <param name="can_interface_name" value="$(var can_interface_name)"/>
    <param name="joint_states_remap_to" value="$(var joint_states_remap_to)"/>
  </node>
</launch>
