<?xml version="1.0"?>

<launch>

  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joy_autorepeat_rate" default="20.0" />
  <arg name="joy_deadzone" default="0.2" />
  <arg name="teleop_controller" default="$(find-pkg-share loki_teleop)/config/xbox.yaml" />

  
  <include file="$(find-pkg-share loki_teleop)/launch/teleop.launch" >
    <let name="joy_dev" value="$(var joy_dev)" />
    <let name="joy_autorepeat_rate" value="$(var joy_autorepeat_rate)" />
    <let name="joy_deadzone" value="$(var joy_deadzone)" />
    <let name="teleop_controller" value="$(var teleop_controller)" />
  </include>

</launch>
