<launch>

  <arg name="cmd_vel_out" default="twist_mux/cmd_vel"/>
  <arg name="config_locks"  default="$(find-pkg-share loki_twist_mux)/config/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find-pkg-share loki_twist_mux)/config/twist_mux_topics.yaml"/>

  <node pkg="twist_mux" exec="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="$(var cmd_vel_out)"/>
    <param from="$(var config_locks)" />
    <param from="$(var config_topics)"/>
  </node>
</launch>

